@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Mono';
  src: url('/fonts/TT_Commons_Pro_Mono_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons Expanded';
  src: url('/fonts/TT_Commons_Pro_Expanded_DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  src: url('/fonts/TT_Commons_Pro_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: medium;
  src: url('/fonts/TT_Commons_Pro_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  src: url('/fonts/TT_Commons_Pro_DemiBold.woff2') format('woff2');
}

/* Reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Theme */

:root {
  --bkg-1: theme('colors.light-theme.bkg-1');
  --bkg-2: theme('colors.light-theme.bkg-2');
  --bkg-3: theme('colors.light-theme.bkg-3');
  --bkg-4: theme('colors.light-theme.bkg-4');
  --fgd-1: theme('colors.light-theme.fgd-1');
  --fgd-2: theme('colors.light-theme.fgd-2');
  --fgd-3: theme('colors.light-theme.fgd-3');
  --fgd-4: theme('colors.light-theme.fgd-4');
  --fgd-5: theme('colors.light-theme.fgd-5');
}

[data-theme='Dark'] {
  --bkg-1: theme('colors.dark-theme.bkg-1');
  --bkg-2: theme('colors.dark-theme.bkg-2');
  --bkg-3: theme('colors.dark-theme.bkg-3');
  --bkg-4: theme('colors.dark-theme.bkg-4');
  --fgd-1: theme('colors.dark-theme.fgd-1');
  --fgd-2: theme('colors.dark-theme.fgd-2');
  --fgd-3: theme('colors.dark-theme.fgd-3');
  --fgd-4: theme('colors.dark-theme.fgd-4');
  --fgd-5: theme('colors.dark-theme.fgd-5');
}

[data-theme='Mango'] {
  --bkg-1: theme('colors.mango.bkg-1');
  --bkg-2: theme('colors.mango.bkg-2');
  --bkg-3: theme('colors.mango.bkg-3');
  --bkg-4: theme('colors.mango.bkg-4');
  --fgd-1: theme('colors.mango.fgd-1');
  --fgd-2: theme('colors.mango.fgd-2');
  --fgd-3: theme('colors.mango.fgd-3');
  --fgd-4: theme('colors.mango.fgd-4');
  --fgd-5: theme('colors.mango.fgd-5');
}

[data-theme='Medium'] {
  --bkg-1: theme('colors.medium-theme.bkg-1');
  --bkg-2: theme('colors.medium-theme.bkg-2');
  --bkg-3: theme('colors.medium-theme.bkg-3');
  --bkg-4: theme('colors.medium-theme.bkg-4');
  --fgd-1: theme('colors.medium-theme.fgd-1');
  --fgd-2: theme('colors.medium-theme.fgd-2');
  --fgd-3: theme('colors.medium-theme.fgd-3');
  --fgd-4: theme('colors.medium-theme.fgd-4');
  --fgd-5: theme('colors.medium-theme.fgd-5');
}

[data-theme='High Contrast'] {
  --bkg-1: theme('colors.high-contrast-theme.bkg-1');
  --bkg-2: theme('colors.high-contrast-theme.bkg-2');
  --bkg-3: theme('colors.high-contrast-theme.bkg-3');
  --bkg-4: theme('colors.high-contrast-theme.bkg-4');
  --fgd-1: theme('colors.high-contrast-theme.fgd-1');
  --fgd-2: theme('colors.high-contrast-theme.fgd-2');
  --fgd-3: theme('colors.high-contrast-theme.fgd-3');
  --fgd-4: theme('colors.high-contrast-theme.fgd-4');
  --fgd-5: theme('colors.high-contrast-theme.fgd-5');
}

[data-theme='Blueberry'] {
  --bkg-1: theme('colors.blueberry-theme.bkg-1');
  --bkg-2: theme('colors.blueberry-theme.bkg-2');
  --bkg-3: theme('colors.blueberry-theme.bkg-3');
  --bkg-4: theme('colors.blueberry-theme.bkg-4');
  --fgd-1: theme('colors.blueberry-theme.fgd-1');
  --fgd-2: theme('colors.blueberry-theme.fgd-2');
  --fgd-3: theme('colors.blueberry-theme.fgd-3');
  --fgd-4: theme('colors.blueberry-theme.fgd-4');
  --fgd-5: theme('colors.blueberry-theme.fgd-5');
}

[data-theme='Banana'] {
  --bkg-1: theme('colors.banana-theme.bkg-1');
  --bkg-2: theme('colors.banana-theme.bkg-2');
  --bkg-3: theme('colors.banana-theme.bkg-3');
  --bkg-4: theme('colors.banana-theme.bkg-4');
  --fgd-1: theme('colors.banana-theme.fgd-1');
  --fgd-2: theme('colors.banana-theme.fgd-2');
  --fgd-3: theme('colors.banana-theme.fgd-3');
  --fgd-4: theme('colors.banana-theme.fgd-4');
  --fgd-5: theme('colors.banana-theme.fgd-5');
}

[data-theme='Olive'] {
  --bkg-1: theme('colors.olive-theme.bkg-1');
  --bkg-2: theme('colors.olive-theme.bkg-2');
  --bkg-3: theme('colors.olive-theme.bkg-3');
  --bkg-4: theme('colors.olive-theme.bkg-4');
  --fgd-1: theme('colors.olive-theme.fgd-1');
  --fgd-2: theme('colors.olive-theme.fgd-2');
  --fgd-3: theme('colors.olive-theme.fgd-3');
  --fgd-4: theme('colors.olive-theme.fgd-4');
  --fgd-5: theme('colors.olive-theme.fgd-5');
}

[data-theme='Lychee'] {
  --bkg-1: theme('colors.lychee-theme.bkg-1');
  --bkg-2: theme('colors.lychee-theme.bkg-2');
  --bkg-3: theme('colors.lychee-theme.bkg-3');
  --bkg-4: theme('colors.lychee-theme.bkg-4');
  --fgd-1: theme('colors.lychee-theme.fgd-1');
  --fgd-2: theme('colors.lychee-theme.fgd-2');
  --fgd-3: theme('colors.lychee-theme.fgd-3');
  --fgd-4: theme('colors.lychee-theme.fgd-4');
  --fgd-5: theme('colors.lychee-theme.fgd-5');
}

[data-theme='Avocado'] {
  --bkg-1: theme('colors.avocado-theme.bkg-1');
  --bkg-2: theme('colors.avocado-theme.bkg-2');
  --bkg-3: theme('colors.avocado-theme.bkg-3');
  --bkg-4: theme('colors.avocado-theme.bkg-4');
  --fgd-1: theme('colors.avocado-theme.fgd-1');
  --fgd-2: theme('colors.avocado-theme.fgd-2');
  --fgd-3: theme('colors.avocado-theme.fgd-3');
  --fgd-4: theme('colors.avocado-theme.fgd-4');
  --fgd-5: theme('colors.avocado-theme.fgd-5');
}
