@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Mono';
  src: url('/fonts/TT_Commons_Pro_Mono_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons Expanded';
  src: url('/fonts/TT_Commons_Pro_Expanded_DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  src: url('/fonts/TT_Commons_Pro_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: medium;
  src: url('/fonts/TT_Commons_Pro_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  src: url('/fonts/TT_Commons_Pro_DemiBold.woff2') format('woff2');
}

/* Reset */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
