@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Mono';
  src: url('/fonts/TT_Commons_Pro_Mono_Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons Expanded';
  src: url('/fonts/TT_Commons_Pro_Expanded_DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: normal;
  src: url('/fonts/TT_Commons_Pro_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: medium;
  src: url('/fonts/TT_Commons_Pro_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TT Commons';
  font-weight: bold;
  src: url('/fonts/TT_Commons_Pro_DemiBold.woff2') format('woff2');
}

/* Reset */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1.18 !important;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* Theme */

:root {
  --primary: theme('colors.light-theme.yellow');
  --red: theme('colors.light-theme.red.DEFAULT');
  --red-dark: theme('colors.light-theme.red.dark');
  --green: theme('colors.light-theme.green.DEFAULT');
  --green-dark: theme('colors.light-theme.green.dark');
  --bkg-1: theme('colors.light-theme["bkg-1"]');
  --bkg-2: theme('colors.light-theme["bkg-2"]');
  --bkg-3: theme('colors.light-theme["bkg-3"]');
  --fgd-1: theme('colors.light-theme["fgd-1"]');
  --fgd-2: theme('colors.light-theme["fgd-2"]');
  --fgd-3: theme('colors.light-theme["fgd-3"]');
  --fgd-4: theme('colors.light-theme["fgd-4"]');
}

[data-theme='Dark'] {
  --primary: theme('colors.dark-theme.yellow');
  --red: theme('colors.dark-theme.red.DEFAULT');
  --red-dark: theme('colors.dark-theme.red.dark');
  --green: theme('colors.dark-theme.green.DEFAULT');
  --green-dark: theme('colors.dark-theme.green.dark');
  --bkg-1: theme('colors.dark-theme["bkg-1"]');
  --bkg-2: theme('colors.dark-theme["bkg-2"]');
  --bkg-3: theme('colors.dark-theme["bkg-3"]');
  --fgd-1: theme('colors.dark-theme["fgd-1"]');
  --fgd-2: theme('colors.dark-theme["fgd-2"]');
  --fgd-3: theme('colors.dark-theme["fgd-3"]');
  --fgd-4: theme('colors.dark-theme["fgd-4"]');
}

[data-theme='Mango'] {
  --primary: theme('colors.mango-theme.yellow');
  --red: theme('colors.mango-theme.red.DEFAULT');
  --red-dark: theme('colors.mango-theme.red.dark');
  --green: theme('colors.mango-theme.green.DEFAULT');
  --green-dark: theme('colors.mango-theme.green.dark');
  --bkg-1: theme('colors.mango-theme["bkg-1"]');
  --bkg-2: theme('colors.mango-theme["bkg-2"]');
  --bkg-3: theme('colors.mango-theme["bkg-3"]');
  --fgd-1: theme('colors.mango-theme["fgd-1"]');
  --fgd-2: theme('colors.mango-theme["fgd-2"]');
  --fgd-3: theme('colors.mango-theme["fgd-3"]');
  --fgd-4: theme('colors.mango-theme["fgd-4"]');
}

/* Base */

body {
  @apply bg-th-bkg-1 font-body text-sm h-full;
  letter-spacing: 0.025em;
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  -webkit-font-smoothing: antialiased; /* WebKit  */
  background: #141414;
}

button {
  @apply tracking-wider focus:outline-none;
}

svg {
  @apply transition duration-500 ease-out;
}

.default-transition {
  @apply transition duration-300 ease-out;
}

.page-x-padding {
  @apply px-6 md:px-12 lg:px-20;
}

/* Type */

h1,
h2,
h3,
h4 {
  @apply font-display text-th-fgd-1;
  letter-spacing: -0.0125em;
}

h1 {
  @apply text-5xl sm:text-6xl lg:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-xl lg:text-2xl;
}

h4 {
  @apply text-base;
}

p {
  @apply text-th-fgd-3 text-base xl:text-lg;
}

a {
  @apply text-base lg:text-base;
  letter-spacing: 0;
}

.font-mono {
  -webkit-font-feature-settings: 'zero' 1;
  font-feature-settings: 'zero' 1;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.radial-gradient-bg {
  background-image: radial-gradient(at -50% -50%, #41308b 0, transparent 60%);
  @apply bg-th-bkg-1;
}
.bg-nav {
  background-image: linear-gradient(#141414 0, transparent 100%);
}

hr {
  border: none;
  height: 2px;
  width: 100%;
  @apply bg-th-bkg-3;
}
